<h2>{{title}}</h2>

 <div class="locations">
	{{#each locations}}
  		<div class="location">
			<p>Name: {{name}}</p>
			<p>Address: {{address}}</p>
			<p>Latitude: {{position.lat}}</p>
			<p>Longitude: {{position.lng}}</p>
			<img src="{{imageUrl}}" alt="Image of {{name}}" height="300">
			<form action="/locations/{{_id}}/edit" method="GET">
				<button>Edit location</button>
			</form>
			<form action="/locations/{{_id}}/delete" method="GET">
				<button>Delete location</button>
			</form>
  		</div>
	{{/each}}
</div>