<h2 class="title">{{title}}</h2>

 <div class="locations">
	{{#each locations}}
  		<div class="location">
			<h3>{{name}}</h3>
			<img src="{{imageUrl}}" alt="Image of {{name}}" height="300">
			<p>{{address}}</p>
			<p>Latitude: {{position.lat}}</p>
			<p>Longitude: {{position.lng}}</p>
			<form action="/locations/{{_id}}/edit" method="GET">
				<button>Edit Location</button>
			</form>
			<form action="/locations/{{_id}}/delete" method="GET">
				<button>Delete Location</button>
			</form>
  		</div>
	{{/each}}
</div>