<h2>{{title}}</h2>

{{#with location}}
	<div id="location">
		<form action="/locations/{{_id}}/edit" method="POST">
			<label for="name">Name: </label><input id="name" type="text" name="name" value="{{name}}">
			<label for="address">Address: </label><input id="address" type="text" name="address" value="{{address}}">
			<label for="lat">Latitude: </label><input id="lat" type="text" name="lat" value="{{position.lat}}">
			<label for="lng">Longitude: </label><input id="lng" type="text" name="lng" value="{{position.lng}}">
			<label for="imageUrl">Image: </label><input id="imageUrl" type="text" name="imageUrl" value="{{imageUrl}}">
			<button id="btn-submit">Submit Edit</button>
		</form>
	</div>
{{/with}}