<h2>{{title}}</h2>

{{#with room}}
<div id="rooms">
  <form action="/rooms/{{_id}}/edit" method="POST">
    <label for="name">Name: </label><input id="name" type="text" name="name" value="{{name}}">
    <label for="description">Description: </label><input id="description" type="text" name="description" value="{{description}}">
    <label for="imageUrl">Image: </label><input id="imageUrl" type="text" name="imageUrl" value="{{imageUrl}}">
    <button id="btn-submit">Edit room</button>
  </form>
</div>
{{/with}}