<h2>{{title}}</h2>

{{#with location}}
<div id="location">
  <form action="/locations/{{_id}}/edit" method="POST">
    <label for="name">Name: </label><input id="name" type="text" name="name" value="{{name}}">
    <label for="location">Location: </label><input id="location" type="text" name="location" value="{{description}}">
    <label for="imageUrl">Image: </label><input id="imageUrl" type="text" name="imageUrl" value="{{imageUrl}}">
    <button id="btn-submit">Edit location</button>
  </form>
</div>
{{/with}}