
<!-- index.html -->

<!DOCTYPE html>
<html>
	<head>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    	<title>My First Map</title>
    	<style>
      		#map {
      			height: 600px;
        		width: 50%;
       		}
    	</style>
  	</head>
  	<body>

		<div id="container">
			<div id="map"></div>
			<div id="sidebar">
				<button id="btn-beer">Let's drink a beer</button>
				<div id="display-bars"></div>
				{{!-- {{#each locations}}
					<div>
						<p>Name: {{name}}</p>
						<p>Address: {{address}}</p>
						<p>Latitude: {{position.lat}}</p>
						<p>Longitude: {{position.lng}}</p>
						<p>Owner: {{owner}}</p>
					</div>
				{{/each}} --}}
			</div>
		</div>
		
		<div style="display: none">
			<div id="floating-panel">
				<b>Start: </b>
				<select id="start">
					{{#each locations}}
						<option value="{{address}}">{{name}}</option>
					{{/each}}
				</select>
				<b>End: </b>
				<select id="end">
					{{#each locations}}
						<option value="{{address}}">{{name}}</option>
					{{/each}}
				</select>
			</div>
		</div>

			<div id="map"></div>

			<script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initMap&libraries=places&v=weekly" async></script>
	</body>
</html>